[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bentucker
[access "refs/for/refs/*"]
	read = group user/bentucker
	push = group user/bentucker
	label-Code-Review = -2..+2 group user/bentucker
	label-Verified = -1..+1 group user/bentucker
	rebase = group user/bentucker
	removeReviewer = group user/bentucker
	submit = group user/bentucker
[access "refs/heads/*"]
	read = group user/bentucker
	create = group user/bentucker
	push = +force group user/bentucker
	pushMerge = group user/bentucker
[access "refs/tags/*"]
	push = +force group user/bentucker
	pushTag = group user/bentucker
	pushSignedTag = group user/bentucker
